{% extends "base.html" %}
{% block content %}

<div>
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">已成功生成，5秒后返回首页！</h2>
</div>

<script>
    setTimeout(function(){
        document.location = "/";
    }, 5000)
</script>

{% endblock %}
