{% extends "base.html" %}
{% block content %}

<div>
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">商标智能异议系统</h2>
</div>
<div class="mt-5 md:mt-0 md:col-span-2">
    <form action="/" method="POST">
        {{ form.csrf_token }}
        <div class="shadow sm:rounded-md sm:overflow-hidden">
            <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
                <div class="grid grid-cols-3 gap-6">
                    <div class="col-span-3">
                        <label for="tmcn" class="block text-sm font-medium text-gray-700 py-2"> 商标名
                        </label>
                        {{ form.tmcn }}
                        <p class="mt-2 text-sm text-gray-500">必须中文</p>
                    </div>
                    <div class="col-span-3">
                        <label for="tmapplicant" class="block text-sm font-medium text-gray-700 py-2"> 异议人
                        </label>
                        {{ form.tmapplicant }}
                    </div>
                    <div class="col-span-3">
                        <label for="tmintroduction" class="block text-sm font-medium text-gray-700 py-2"> 品牌介绍（选填） </label>
                        <div class="mt-1">
                            {{ form.tmintroduction }}
                        </div>
                        <p class="mt-2 text-sm text-gray-500">用于生成异议文档</p>
                    </div>
                    <div class="col-span-3">
                        <label for="tminfluence" class="block text-sm font-medium text-gray-700 py-2"> 品牌知名度（选填） </label>
                        <div class="mt-1">
                            {{ form.tminfluence }}
                        </div>
                        <p class="mt-2 text-sm text-gray-500">用于生成异议文档</p>
                    </div>
                </div>
                <div class="text-center">
                    {{ form.tmsubmit }}
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}
