{% extends "base.html" %}
{% block content %}

<div>
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">查询结果</h2>
</div>

<!-- tm1 info -->
<div class="">
  <div>商标名：{{tmcn}}</div>
  <div>异议人：{{tmapplicant}}</div>
  <div>id：{{_id}}</div>
  <p class="mt-1 max-w-2xl text-sm text-gray-500">说明：在需要生成异议文档的商标处选中候选框，在页末点击下载，即可下载批量生成的zip压缩包。</p>
</div>
<!-- all tm2 -->
<form action="{{ url_for('generate') }}" method="POST">
    {{ choose.csrf_token }}
    {% for v in tm %}
  <!-- each card -->
  <div class="bg-white shadow overflow-hidden sm:rounded-lg">
    <!-- title -->
    <div class="px-4 py-5 sm:px-6">
<!--         商标名 -->
      <h3 class="text-lg leading-6 font-medium text-gray-900">{{v['tmcn']}}</h3>
<!--         Button -->
      <input type="checkbox" name="choose" value="{{loop.index0}}" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded float-right" />
<!--         申请人 -->
      <p class="mt-1 max-w-2xl text-sm text-gray-500">{{v['tmapplicant']}}</p>
    </div>
    <!-- content -->
    <div class="border-t border-gray-200">
      <dl>
        <!-- <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">商标名</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{v['tmcn']}}</dd>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">申请人</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{v['tmapplicant']}}</dd>
      </div> -->
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">类别</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{v['intcls']}}</dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">服务</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{'、'.join(v['tmdetail'])}}</dd>
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">注册号</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{v['regno']}}</dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">城市编码</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{v['citycode']}}</dd>
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">拼音是否相似</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{v['res']['pinyin']['res']}}</dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">字形是否相似</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{v['res']['zixing']['res']}}</dd>
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">含义是否相似</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{v['res']['hanyi']['res']}}</dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">视觉是否相似</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{v['res']['shijue']['res']}}</dd>
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">所有同类服务</dt>
        {% if v['res']['server']['same']['code'] %}
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{'、'.join(v['res']['server']['same']['code'])}}</dd>
        {% else %}
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">无</dd>
        {% endif %}
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">最相似的服务</dt>
        {% if v['res']['server']['most_diff']['uid'] %}
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{v['res']['server']['most_diff']['tm1']}} 和 {{v['res']['server']['most_diff']['tm2']}}</dd>
        {% else %}
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">无</dd>
        {% endif %}
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">恶意申请商标的行为</dt>
        {% if v['res']['aim'] %}
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">有，
            {% for i in v['res']['aim'] %}
                在 {{i['year']}} 年，共申请了 {{i['cnt']}} 个商标，分别为：{{i['tm']}}
            {% endfor %}
          </dd>
        {% else %}
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">无</dd>
        {% endif %}
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">是否在同一城市</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{v['res']['locate']}}</dd>
        </div>
      </dl>
    </div>
  </div>
    <br/>
    {% endfor %}
    <div class="text-center">
        {{choose.cssubmit}}
    </div>
</form>
<!-- <div>
    {{tmcn}}
    {{tmapplicant}}
    {{tmintroduction}}
    {{tminfluence}}
    {{_id}}
    <form action="{{ url_for('generate') }}" method="POST">
        {{ choose.csrf_token }}
    {% for v in tm %}
        <input type="checkbox" name="choose" value={{loop.index0}} /><br/>
        - 商标信息 -<br/>
        商标名：{{v['tmcn']}}<br/>
        申请人：{{v['tmapplicant']}}<br/>
        类别：{{v['intcls']}}<br/>
        服务：{{'、'.join(v['tmdetail'])}}<br/>
        注册号：{{v['regno']}}<br/>
        城市编码：{{v['citycode']}}<br/>
        状态：{{v['tmstatus']}}<br/>
        - 检测结果 - <br/>
        拼音是否相似：{{v['res']['pinyin']['res']}}<br/>
        字形是否相似：{{v['res']['zixing']['res']}}<br/>
        含义是否相似：{{v['res']['hanyi']['res']}}<br/>
        视觉是否相似：{{v['res']['shijue']['res']}}<br/>
        {% if v['res']['server']['same']['code'] %}
            所有同类服务：{{'、'.join(v['res']['server']['same']['code'])}}<br/>
        {% else %}
            所有同类服务：无<br/>
        {% endif %}
        {% if v['res']['server']['most_diff']['uid'] %}
            最相似的服务：{{v['res']['server']['most_diff']['tm1']}} 和 {{v['res']['server']['most_diff']['tm2']}}<br/>
        {% else %}
            最相似的服务：无<br/>
        {% endif %}
        {% if v['res']['server']['most_same']['code'] %}
            最相同的服务编码：v['res']['server']['most_same']['code']<br/>
        {% else %}
            最相同的服务编码：无<br/>
        {% endif %}
        {% if v['res']['aim'] %}
            有恶意申请商标的行为<br/>
            {% for i in v['res']['aim'] %}
                在 {{i['year']}} 年，共申请了 {{i['cnt']}} 个商标，分别为：{{i['tm']}}<br/>
            {% endfor %}
        {% else %}
            没有恶意申请商标的行为<br/>
        {% endif %}
        是否在同一城市：{{v['res']['locate']}}<br/>
        #############################################<br/>
    {% endfor %}
    <div class="text-center">
        {{choose.cssubmit}}
    </div>
    </form>
</div> -->

<!-- <script>
//     按下Button后，开始下载，延时返回首页
    form.addEventListener('submit',function(event){
        setTimeout(function(){
            document.location = "/";
        }, 2000)
    },false);
</script> -->

{% endblock %}
